### https://raw.github.com/github/gitignore/94d87c504178b3a4e8b95eb95e78e96c6ccefe46/Java.gitignore

*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


